<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--
  
  Author:	Matthis
  Date:		01.06.2010

-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$siteTitle}</title>

{LOOP $siteMeta}
<meta name="{$siteMeta[name]}" content="{$siteMeta[content]}" />
{/LOOP $siteMeta}

{CSS templates/default/default_style.css}


{JS templates/ajaxChat.js}
{CSS templates/ajaxChat.css}


{JS templates/basicFunctions.js}
{JS templates/basicClasses.js}
{CSS templates/basicStyles.css}
</head>
<body>




<div class="ajaxChat_Wrapper" id="chatWindow_1">
	<table onclick="returnAjaxChatInstance(1).toggleChat();" class="ajaxChat_Tab" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="16" valign="middle"><img src="{_SITEPATH_}templates/chat_images/bullet_green.png" width="16" height="16" border="0" alt="" /></td>
			<td valign="middle">Allgemein</td>
			<td width="16" valign="middle"><img src="{_SITEPATH_}templates/chat_images/bullet_arrow_up.png" width="16" height="16" border="0" alt="Open" /></td>
		</tr>
	</table>

	<div class="ajaxChat_ChatWindow" style="display: none;">
		<ul class="ajaxChat_UserList"><li>&nbsp;</li></ul>
		<div class="ajaxChat_ChatContent"></div>
		<input class="ajaxChat_inputField" type="text" />
	</div>
</div>

<script type="text/javascript">
<!--


function getCssClassAttribute(className, attribute)
{
	var isIE		= checkBrowser('MSIE');
	var countSheets	= document.styleSheets.length;

	for(var i = 0; i < countSheets; i++)
	{
		if(isIE)
		{
			var classItem	= document.styleSheets[i].rules;
		}
		else
		{
			var classItem	= document.styleSheets[i].cssRules;
		}

		var value = classItem.item(className).style[attribute];
		if(value != '')
		{
			return value;
		}
	}
	
	return null;
}


-->
</script>






<div style="float: left; width: 80%;">
	<h2>{$siteHeader}</h2>
	<hr />
	{$siteContent}
</div>
<div style="float: left; width: 20%;">
	<div id="Login">
		<b>Login:</b><br />
		{PLUGIN User::Login}
	</div>
</div>
<div style="clear: both;">&nbsp;</div>

<hr />
Geladene Klassen: {_BENCHMARK_LOADED_CLASSES_}<br />
Ausgeführte MySQL Queries: {_BENCHMARK_EXECUTED_QUERIES_}<br />
Parsetime: {_BENCHMARK_PARSE_TIME_} s
</body>
</html>