<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--
  
  Author:	Matthis
  Date:		01.06.2010

-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$siteTitle}</title>

{LOOP $siteMeta}
<meta name="{$siteMeta[name]}" content="{$siteMeta[content]}" />
{/LOOP $siteMeta}

{JS javascript/FrameworkConfig.js}

{JS templates/basicFunctions.js}
{JS templates/basicClasses.js}
{CSS css/templates/basicStyles.css}

{CSS css/templates/default/default_style.css}

{JS templates/ajaxChat.js}
{CSS css/templates/ajaxChat.css}
</head>
<body>

<div style="float: left; width: 80%;">
	<h2>{$siteHeader}</h2>
	<hr />
	{$siteContent}
</div>
<div style="float: left; width: 20%;">
	<div id="Login">
		<b>Login:</b><br />
		{PLUGIN User::Login}
	</div>
</div>
<div style="clear: both;">&nbsp;</div>

<hr />
Geladene Klassen: {_BENCHMARK_LOADED_CLASSES_}<br />
Ausgeführte MySQL Queries: {_BENCHMARK_EXECUTED_QUERIES_}<br />
Parsetime: {_BENCHMARK_PARSE_TIME_} s

{PLUGIN Chat::AjaxChat}
</body>
</html>