/**
  * AjaxChat Styles
  */

#ajaxChat_changeStatus
{
	position:			fixed;
	bottom:				0px;
	right:				0px;
	width:				100px;
	height:				23px;
	border:				1px solid #AAA;
	border-right:		0px;
	background:			repeat-x url('$_SITEPATHtemplates/chat_images/tab_background.png');

	text-align:			center;
	text-decoration:	none;
	font-weight:		bold;
	line-height:		25px;
}
#ajaxChat_changeStatus:hover
{
	background:			repeat-x url('$_SITEPATHtemplates/chat_images/tab_background_hover.png');
}
#ajaxChat_changeStatus .ajaxChat_changeStatus_online
{
	display:			block;
	background:			no-repeat url('$_SITEPATHtemplates/chat_images/bullet_green.png');
	background-position:right;
}
#ajaxChat_changeStatus .ajaxChat_changeStatus_offline
{
	display:			block;
	background:			no-repeat url('$_SITEPATHtemplates/chat_images/bullet_red.png');
	background-position:right;
}

.ajaxChat_chatWrapper
{
	position:			fixed;
	bottom:				0px;
	width:				251px;
}

.ajaxChat_chatWrapper .ajaxChat_Tab
{
	position:			relative;
	width:				100%;
	height:				25px;
	border:				1px solid #AAA;
	background:			repeat-x url('$_SITEPATHtemplates/chat_images/tab_background.png');
	cursor:				pointer;
	font-weight:		bold;
	padding:			0px 0px 0px 15px;
}
.ajaxChat_chatWrapper .ajaxChat_Tab:hover
{
	background:			repeat-x url('$_SITEPATHtemplates/chat_images/tab_background_hover.png');
}

.ajaxChat_chatWrapper .ajaxChat_ChatWindow
{
	position:			relative;
	border:				1px solid #BBB;
	border-top:			0px;
	background:			#FFF;
}

.ajaxChat_chatWrapper .ajaxChat_inputField
{
	border:				0px;
	border-top:			1px solid #BBB;
	width:				225px;
	height:				20px;
	padding:			0px 5px 0px 20px;
	
	background:			no-repeat url('$_SITEPATHtemplates/chat_images/text_signature.png');
	background-position:0px 50%;
}

.ajaxChat_chatWrapper .ajaxChat_ChatContent
{
	padding:			5px 5px 0px 5px;
	height:				250px;
	overflow:			auto;
}

.ajaxChat_chatWrapper .ajaxChat_UserList
{
	padding:			0px;
	margin:				0px;
	width:				249px;
	height:				50px;
	overflow:			auto;
	border:				0px;
	border-bottom:		1px solid #BBB;
}

.ajaxChat_chatWrapper .ajaxChat_UserList .ajaxChat_UserList_BG_grey
{
	padding:			2px 0px 2px 0px;
	height:				16px;
	background:			#DDD;
}
.ajaxChat_chatWrapper .ajaxChat_UserList .ajaxChat_UserList_BG_white
{
	padding:			2px 0px 2px 0px;
	height:				16px;
	background:			#FFF;
}
.ajaxChat_chatWrapper .ajaxChat_UserList .ajaxChat_UserList_activeUser
{
	display:			block;
	width:				225px;
	height:				14px;
	padding:			2px 0px 0px 20px;
	background:			no-repeat url('$_SITEPATHtemplates/chat_images/bullet_green.png');
}
.ajaxChat_chatWrapper .ajaxChat_UserList .ajaxChat_UserList_inactiveUser
{
	display:			block;
	width:				225px;
	height:				14px;
	padding:			2px 0px 0px 20px;
	background:			no-repeat url('$_SITEPATHtemplates/chat_images/bullet_black.png');
}
.ajaxChat_chatWrapper .ajaxChat_UserList li:hover
{
	background:			#CCC;
}


.ajaxChat_chatWrapper .ajaxChat_ChatWindow .ajaxChat_ChatContent .ajaxChat_chatMessage
{
	padding:			3px;
	margin:				0px 0px 5px 0px;
}
.ajaxChat_chatWrapper .ajaxChat_ChatWindow .ajaxChat_ChatContent .ajaxChat_chatMessage span
{
	display:			block;
	font-weight:		bold;
	margin-bottom:		3px;
}
.ajaxChat_chatWrapper .ajaxChat_ChatWindow .ajaxChat_ChatContent .ajaxChat_chatMessage span span
{
	display:			inline;
	font-weight:		normal;
}
.ajaxChat_chatWrapper .ajaxChat_ChatWindow .ajaxChat_ChatContent .ajaxChat_Message_BG_grey
{
	background:			#EEE;
}
.ajaxChat_chatWrapper .ajaxChat_ChatWindow .ajaxChat_ChatContent .ajaxChat_Message_BG_white
{
	background:			#FFF;
}
